<div class="ui-g">
    <div class="ui-g-6">
        <app-scrollable-menu 
            [bankingOperations]="bankingOperations" 
            [positive]="positive"
            (valueChange)='HandleBankTransaction($event)'>
        </app-scrollable-menu>
    </div>
    <div class="ui-g-6">
        <app-bank-transaction-handling
            [bankingOperations]="bankingOperations"
            [bankTransactionToHandle]="bankTransactionToHandle"
            [operationManagement]="operationManagement">
        </app-bank-transaction-handling>
    </div>
</div>
