<div class="ui-g">
    <div class="ui-g-4">
        <app-scrollable-menu 
            [bankingOperations]="bankingOperations" 
            [positive]="positive"
            [bankTransactionsFromStore$]="bankTransactionsFromStore$"
            (valueChange)='HandleBankTransaction($event)'>
        </app-scrollable-menu>
    </div>
    <div class="ui-g-8" style="background-color: rgba(183, 196, 211, 0.64); margin-top: 10px; margin-bottom: 6px;">
        <app-bank-transaction-handling
            [bankingOperations]="bankingOperations" 
            [bankTransactionToHandle]="bankTransactionToHandle"
            [operationManagement]="operationManagement">
        </app-bank-transaction-handling>
        <div>
            <h2>There is {{(bankTransactionsFromStore$|async).data.length}} bank transactions</h2>
        </div>
    </div>
</div>
